<h3>Here are some saved gifs that you can use:</h3>
<div class="row">
  <% @moods.each do |mood| %>
    <div class="col-xs-12 col-md-6 mt-25">
      <form action="/destroy" method="post">
        <h4><%= mood.mood %></h4>
        <input type="hidden" name="mood_id" value="<%= mood.id %>">
        <p><img src="<%= mood.image_url %>"></p>
        Copy this link to share: <p><a href="<%= mood.image_url %>"><%= mood.image_url %></a></p>
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
    </div>
  <% end %>
</div>
